{% extends 'base.html.twig' %}

{% block title %}Zmień Email i Hasło{% endblock %}

{% block body %}
    <div class="container mt-4">
        <h1>Zmień Email i Hasło</h1>

        {{ form_start(form) }}
        <div class="mb-3">
            {{ form_label(form.email) }}
            {{ form_widget(form.email, {'attr': {'class': 'form-control'}}) }}
            {{ form_errors(form.email) }}
        </div>

        <div class="mb-3">
            {{ form_label(form.currentPassword) }}
            {{ form_widget(form.currentPassword, {'attr': {'class': 'form-control'}}) }}
            {{ form_errors(form.currentPassword) }}
        </div>

        <div class="mb-3">
            {{ form_label(form.newPassword) }}
            {{ form_widget(form.newPassword, {'attr': {'class': 'form-control'}}) }}
            {{ form_errors(form.newPassword) }}
        </div>

        <div class="mb-3">
            {{ form_label(form.confirmNewPassword) }}
            {{ form_widget(form.confirmNewPassword, {'attr': {'class': 'form-control'}}) }}
            {{ form_errors(form.confirmNewPassword) }}
        </div>

        <button type="submit" class="btn btn-primary">Zapisz</button>
        {{ form_end(form) }}
    </div>
{% endblock %}
